html {
  font-size: 16px;
  /* font-size: 62.5%; */
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.5;
  -webkit-text-size-adjust: none; /* for iOS Safari */
  text-size-adjust: none; /* for other mobile browsers */
}

:root {
  --accent-color: #7e8dc3;
  --bg-color: #c6d3ff;

  --cgap: clamp(1.5rem, 3vw, 4rem);

  --def-transition-duration: 0.2s;
}

body {
  max-width: 1680px;
  margin: 0 auto;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
