html {
  font-size: 16px;
  /* font-size: 62.5%; */
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.5;
  -webkit-text-size-adjust: none; /* for iOS Safari */
  text-size-adjust: none; /* for other mobile browsers */
}

:root {
  --accent-color: #7e8dc3;
  --bg-color: #c6d3ff;

  --header-height: 4.4rem;
  --cgap: clamp(1.5rem, 3vw, 4rem);

  --def-transition-duration: 0.2s;
}

header {
  top: 0;
  width: 100%;
  max-width: 1680px;
  margin: 0 auto;
  position: fixed;
  display: grid;
  grid-template-columns: 4.5rem auto 4.5rem;
  align-items: center;
  height: var(--header-height);
  background-color: #ffff;
  border: 2px solid white;
  border-image: linear-gradient(90deg, #ffff, #292d3e 50%, #ffff) 90;
}

header a {
  text-decoration: none;
}

.nav-link {
  text-decoration: none;
  transition-property: color;
  color: black;
}

.nav-link {
  transition-duration: var(--def-transition-duration);
  transition-timing-function: ease-in-out;
}

.nav-link:hover {
  color: #e8e8e8;
}

body {
  max-width: 1680px;
  margin: 0 auto;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: var(--header-height);
  padding: 0 1rem;
}

section {
  background-color: var(--bg-color);
  border-radius: 0.5rem;
  padding: 0 1rem;
}

h1 {
  margin: 0;
  text-align: center;
}

h2 {
  margin: 0 -1rem;
  text-align: center;
  padding: 0.5rem;
  background-color: var(--accent-color);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

ul {
  padding: 1.2rem;
}

li {
  list-style: none;
}

table {
  width: 30%;
  table-layout: fixed;
  border-collapse: collapse;
}

td {
  text-align: center;
}

th,
td {
  padding: 2px;
  border: 1px solid white;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

@media (min-width: 768px) {
  nav h2 {
    text-align: start;
  }
}
