@layer reset, base, components, theme;

@import "reset.css" layer(reset);

@layer base {
  * {
    /* TIME */
    --def-transition-duration: 0.2s;

    /* LENGTH */
    --nav-width: 33%;
    --small-gap: clamp(0.5rem, 1.5vw, 1.1rem);
    --gap: clamp(0.8rem, 1.7vw, 2.1rem);
    --big-gap: clamp(1.8rem, calc(1.7vw + 1rem), 3.1rem);
    --bigger-gap: calc(var(--header-height) / 2);
    --header-height: clamp(8rem, calc(5vw + 4rem), 11rem);
  }

  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }

  html {
    font-family: Montserrat, Georgia, "Times New Roman", Times, serif;
    scroll-behavior: smooth;
  }

  code {
    font-family: monospace;
  }

  main {
    margin: var(--big-gap) 0;
  }

  #header-logo,
  h1 {
    font-size: clamp(2.6rem, 1.7vw + 1.1rem, 3.2rem);
  }

  h1 {
    text-transform: uppercase;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: clamp(2.3rem, 1.9vw + 1rem, 2.8rem);
  }

  h2 {
    margin-top: calc(var(--header-height) / 1.5);
  }

  h3,
  h4,
  h5,
  h6,
  p:not(#header-logo),
  code {
    margin-top: var(--big-gap);
  }

  code {
    padding: 2rem;
    border-radius: 4px;
    text-wrap: wrap;
  }

  pre code {
    display: block;
    background: none;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
    /* overflow-x: scroll; */
    max-width: 100%;
    min-width: 100px;
  }

  table {
    width: 30%;
    min-width: 20rem;
    margin: 0 auto;
    margin-top: var(--big-gap);
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
  }

  td {
    text-align: center;
  }

  th,
  td {
    padding: 2px;
    border: 1px solid black;
  }

  strong {
    font-weight: 600;
  }

  .content-wrapper {
    padding: 0 var(--gap);
    max-width: 1200px;
    margin: 0 auto;
    height: inherit;
  }

  @media (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }
}

@layer components {
  header,
  footer {
    height: var(--header-height);
  }

  header {
    top: 0;
    width: 100%;
    margin: 0 auto;
    position: sticky;
  }

  header .content-wrapper {
    display: grid;
    grid-template-columns: 3.5rem auto 3.5rem;
    align-items: center;
  }

  #hamburger {
    width: clamp(2.6rem, 1.7vw + 1.1rem, 3.2rem);
    height: clamp(2.6rem, 1.7vw + 1.1rem, 3.2rem);
    margin: 0 auto;
    background-image: url("./assets/hamburger.svg");
    background-repeat: no-repeat;
  }

  #main-nav {
    position: fixed;
    margin-top: var(--header-height);
    top: 0;
    height: 100%;
    width: 100%;
    transform: translate(-100%, 0);
    opacity: 0;
    transition-property: none;
  }

  #main-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: calc(var(--header-height) / 2);
    gap: var(--gap);
  }

  h1,
  h2,
  #header-logo {
    text-align: center;
  }

  #header-logo {
    display: block;
    overflow: visible;
    text-wrap: nowrap;
  }

  button,
  .nav-link,
  #main-nav {
    transition-duration: var(--def-transition-duration);
    transition-timing-function: ease-in-out;
  }

  #main-nav.nav-animate {
    transition-property: transform, opacity;
  }

  #main-nav.active {
    transform: translate(0, 0);
    opacity: 1;
  }

  @media (min-width: 768px) {
    #header-logo {
      margin-left: 3.5rem;
      text-align: left;
    }

    #main-nav {
      width: var(--nav-width);
    }
  }
}

@layer theme {
  * {
    /* COLOR */
    --text-color: #181a1b;
  }

  html {
    color: var(--text-color);
  }

  header,
  footer {
    /* background-image: linear-gradient(45deg, #849aba, #5f6f86); */
    background-color: #778eb3;
  }

  /* button {
    opacity: 0.8;
  }

  button:hover {
    opacity: 1;
  } */

  #main-nav {
    background-color: #778eb3;
  }

  .nav-link {
    transition-property: color;
    color: black;
  }

  .nav-link:hover {
    color: #e8e8e8;
  }

  code {
    background-color: #e8e8e8;
  }
}
